<div class=nav-container>
    <li class='nav-li'><a href={{url_for("home")}}>Account</a></li>
    <li class='nav-li'><a href={{url_for("bill")}}>Bill Payment</a></li>
    <li class='nav-li'><a href={{url_for("transfer")}}>Transfer</a></li>
    <li class='nav-li'><a href={{url_for("index")}}>Sign Out</a></li>
    <li class='nav-li'><a href={{url_for("thankyou")}}>Thank You</a></li>
    <li class='nav-li'><a href={{url_for("contact_us")}}>Contact Us You</a></li>
</div>
<style>
    .nav-container{
        border: solid 2px;
        background-color: rgb(235, 61, 61);
        padding-top: 15px;
        padding-bottom: 15px;

    }   
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .nav-li a{
        color: white;
        text-decoration: none;
        font-size: large;
    }
    .nav-li{
        display: inline;
        margin-left: 70px ;
        padding: 50px;
    }